/*-----------------------------------*\
  #service.css
\*-----------------------------------*/

/**
 * 
 */
 
/**
 * TABLE OF CONTENT
 *
 * COMPONENTS
 * Btn............................Buttons style
 *
 * MAIN CONTENT
 * Portfolio......................Portfolio style
 * Media queries..................Responsive for all devices
 */





/*-----------------------------------*\
  #COMPONENTS
\*-----------------------------------*/

/* @import url('asets/btn.css'); */





/*-----------------------------------*\
  #PORTFOLIO
\*-----------------------------------*/

.about {
  background-color: var(--maximum-yellow-red_a10);
  padding-block-start: calc(var(--section-padding) + 60px);
}

.about-list,
.about-card { display: grid; }

.about-list { gap: 50px; }

.about-card { gap: 25px; }

.about-card .card-banner {
  position: relative;
  border: 2px solid var(--jet);
  box-shadow: 0 0 0 var(--jet);
  transition: var(--transition-1);
}

.about-card .card-banner:is(:hover, :focus-within) {
  box-shadow: 3px 3px 0 var(--jet);
}

.about-card .btn-icon {
  position: absolute;
  top: 15px;
  left: 0;
  background-color: var(--white);
  color: var(--jet);
  font-size: 2rem;
  padding: 8px;
  border: 2px solid var(--jet);
  opacity: 0;
  transition: var(--transition-1);
  will-change: transform;
}

.about-card .card-banner:is(:hover, :focus-within) .btn-icon {
  transform: translateX(15px);
  opacity: 1;
}

.about-card .chip {
  background-color: var(--orange-red_a20);
  max-width: max-content;
  color: var(--jet);
  font-weight: var(--fw-500);
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 6px 20px;
  border-radius: var(--radius-pill);
  margin-block-end: 18px;
}

.about-card .card-text { margin-block: 10px 25px; }





/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for large than 768px screen
 */

@media (min-width: 768px) {

  .about-card {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .about-list > li:nth-child(2n) .card-banner { order: 1; }

  .about-card > * {
    width: 80%;
    margin-inline: auto;
  }

  .about-card .card-text { margin-block-start: 20px; }

}

.btn {
  background-color: var(--orange-red);
  font-size: var(--fs-14);
  font-weight: var(--fw-500);
  text-transform: uppercase;
  max-width: max-content;
  letter-spacing: 2px;
  padding: 10px 22px;
  box-shadow: 6px 6px 0 -1px var(--shadow-color, var(--jet));
  transition: var(--transition-1);
}

.btn:is(:hover, :focus-visible) {
  background-color: var(--hover-bg, var(--jet));
  box-shadow: 5px 5px 0 -2px var(--hover-shadow-color, var(--orange-red));
}

.btn-primary,
.btn-secondary { color: var(--white); }

.btn-secondary {
  background-color: var(--jet);
  --shadow-color: var(--orange-red);
  --hover-bg: var(--orange-red);
  --hover-shadow-color: var(--jet);
}

.btn-tertiary {
  color: var(--jet);
  background-color: var(--maximum-yellow-red);
  --shadow-color: var(--orange-red);
  --hover-bg: var(--orange-red);
  --hover-shadow-color: var(--maximum-yellow-red);
}

.btn-tertiary:is(:hover, :focus-visible) { color: var(--white); }