<main>
    <article>

      <!-- 
        - #SERVICE
      -->

      <section class="section service has-bg-image" aria-labelledby="service-label"
        style="background-image: url('assets/images/service-bg.png')">
        <div class="container">

          <h2 class="section-title headline-md text-center" id="service-label">Our Services</h2>

          <ul class="service-list">

            <li class="card-container">
              <div class="card card-md" style="background-color: hsl(177, 39%, 72%)">

                <div class="card-media">
                  <!-- <ion-icon name="phone-portrait-outline" aria-hidden="true"></ion-icon> -->
                </div>

                <div>
                  <h2 class="card-title title-sm text-center">Highest ROI</h2>
                        <h3 class="text-center">Identify and focus on the most most critical business process</h3>

                  <p class="body-sm">
                    Often the things that have the most value or quality are small. We have and are always identifying those small initiatives that has the highest impact in an enterprise.                  </p>
                </div>

              </div>
            </li>

            <li class="card-container">
              <div class="card card-md" style="background-color: hsl(41, 99%, 64%)">

                <div class="card-media">
                  <!-- <ion-icon name="laptop-outline" aria-hidden="true"></ion-icon> -->
                </div>

                <div>
                  <h2 class="card-title title-sm text-center">CRAWL-WALK-RUN</h2>
                       <h3 class="text-center">Make automation in strategic priority </h3>
                  <p class="body-sm">
                    Philosophy is pretty simple. If something can be manually executed, automate it. In the process take it in small bits and pieces. Building your MVP and taking it to market is critical.
                  </p>
                </div>

              </div>
            </li>

            <li class="card-container">
              <div class="card card-md" style="background-color: hsl(19, 97%, 85%)">

                <div class="card-media">
                  <!-- <ion-icon name="stats-chart-outline" aria-hidden="true"></ion-icon> -->
                </div>

                <div>
                  <h2 class="card-title title-sm text-center">Next Best Alternative</h2>
                          <h3 class="text-center">Focus on people as much as Technology </h3>
                  <p class="body-sm">
                    Technology is our primary driver. But we focus on our Next Best Alternative (NBA) – People. We have always believed in people to create technology and services that make the difference.
                  </p>
                </div>

              </div>
            </li>

            <li class="card-container">
              <div class="card card-md" style="background-color: hsl(221, 100%, 79%)">

                <div class="card-media">
                  <!-- <ion-icon name="shapes-outline" aria-hidden="true"></ion-icon> -->
                </div>

                <div>
                  <h2 class="card-title title-sm text-center">Scaled Operations</h2>
                      <h3 class="text-center">Develop and implement the operating model </h3>
                  <p class="body-sm">
                    Any operation that we touch has significant involvement of technology. Building scalable operations are what we thrive on. It all boils down to focusing on the right bit of operation 
                  </p>
                </div>

              </div>
            </li>

            <li class="card-container">
              <div class="card card-md" style="background-color: hsl(76, 39%, 72%)">

                <div class="card-media">
                  <!-- <ion-icon name="code-slash-outline" aria-hidden="true"></ion-icon> -->
                </div>

                <div>
                  <h2 class="card-title title-sm text-center">Find your Friend</h2>
                           <h3 class="text-center">Encourage cross function collaboration</h3>
                  <p class="body-sm">
                    Collaboration and partnership is critical. We cannot do everything and we want to become the best in what we do. So, we look for partners and also partner with our customers. Idea is to build and grow the ecosystem.
                  </p>
                </div>

              </div>
            </li>

            <li class="card-container">
              <div class="card card-md" style="background-color: hsl(245, 100%, 90%)">

                <div class="card-media">
                  <!-- <ion-icon name="globe-outline" aria-hidden="true"></ion-icon> -->
                </div>

                <div>
                  <h2 class="card-title title-sm text-center">Cloud Technology</h2>
                    <h3 class="text-center">Most Advanced Technology</h3>

                  <p class="body-sm">
                    Cloud in the context of computing refers to the delivery of computing services (such as servers, storage, databases, networking, software, and more) over the internet. 
                  </p>
                </div>

              </div>
            </li>

          </ul>

        </div>
      </section>

    </article>
  </main>
